@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  // background-color: rgba(#eeeeee, 0.5);
  background-color: rgb(250, 250, 250);
  background-image: url('./../assets/images/bg.png');
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
  overflow: auto;
  min-width: 320px;
}

.body-content {
  min-height: calc(100vh - 148px);
}

// For sections

.main__section {
  display: flex !important;
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 6.25rem 0;
  &--header {
    margin-bottom: 2rem !important;
  }

  @media (max-width: 1200px) {
    padding: 6.25rem 2rem;
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.heading {
  color: $primary-color !important;
  &--1 {
    font-size: 2.75rem !important;
  }
  &--2 {
    font-size: 2.25rem !important;
  }
  &--3 {
    font-size: 1.5rem !important;
  }
  &--4 {
    font-size: 1.125rem !important;
  }
}

.sub-heading {
  font-weight: 300 !important;
  font-size: 1rem;
  color: $paragraph-text--1 !important;
}

.paragraph {
  color: $paragraph-text--2 !important;
  &--1 {
    font-weight: 300 !important;
    font-size: 1rem !important;
  }
  &--2 {
    font-weight: 300;
    font-size: 0.75rem !important;
  }
}

.btn {
  font-size: 1rem !important;
  padding: 0.75rem 2rem !important;
  font-weight: 500 !important;
  text-transform: capitalize;
  height: auto !important;
  text-shadow: none !important;

  &--primary {
    color: #fff !important;
    border-color: transparent !important;
    background-color: $primary-color !important;
  }
  &--secondary-one {
    color: $primary-color !important;
    background-color: $secondary-color--5 !important;
    border: none !important;
  }
  &--secondary-two {
    color: #fff !important;
    background-color: $secondary-color--2 !important;
  }
  &--text {
    color: $primary-color !important;
    font-size: 1rem !important;
  }

  &:hover {
    box-shadow: 0 20px 20px -20px rgba($primary-color, 0.2) !important;
  }
}

.cursor-click {
  cursor: pointer;
}

.section--container {
  padding: 50px;
  min-width: 1200px;
  margin: 0 auto;
}

.display-block {
  display: block !important;
}

.input-width {
  input {
    width: 250px !important;
  }
}

.submit-btn {
  width: 100% !important;
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color !important;
}

.google-btn {
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
  }
}

.heading-text {
  color: $primary-color;
}

.form-box {
  margin-bottom: 24px;
}

.form-footer {
  padding: 1rem 0 !important;

  &--text {
    color: rgba($primary-color, 0.7);
  }

  &--link {
    text-decoration: none;
    color: $primary-color;
  }
}

.link-text {
  text-decoration: none;
  color: $primary-color;
}

.user-control {
  button {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    .user-control-menu {
      display: flex !important;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      background-color: rgba(24, 22, 22, 0.5);
      // background-color: #1d3444;
      padding: 8px 16px;
      // flex-direction: column;
      // align-items: center;
      .user-control-item {
        color: #fff !important;
        padding-left: 10px !important;
      }
    }
  }
}
