$primary-color: #1d3444;
$secondary-color--1: #dceaf5;
$secondary-color--2: #718593;
$secondary-color--3: #f9fcff;
$secondary-color--4: #8b98a1;
$secondary-color--5: #e3e8ec;
$paragraph-text--1: #5b5b5b;
$paragraph-text--2: #6a6a6a;